html,body {
    height: 100% !important;
}

#app {
    background-color:#e7e5df;
}

#nav-perfil{
    background-color: #6e0300;
}

#navbarDropdown{
    color: white;
}

/*Añadido al css de laravel*/
ol.breadcrumb{
	background-color:white !important;
}
ol.breadcrumb li.active a{
	color: #6e0300 !important;
}

.card_articulo,
.card_info,
.card_perfil,
.breadcrumb,
.avatar,
#perfilVisitado{
	 -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.card_principal{
    -webkit-box-shadow: 20px 25px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 20px 25px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 20px 25px 5px 0px rgba(0,0,0,0.6);
}

.reportModal div.modal-header,
.card_articulo div.card-header{
	background-color: #6e0300 !important;
	color:#e7e5df !important;
}

.reportModal div.modal-footer{
	background-color: #e7e5df !important;
}

.reportModal button.reportCerrar{
	color:#e7e5df !important;
}
.card_articulo div.card-body{
	background-color: white !important;
}

.card_perfil p.card-text{
	color: #6e0300 !important;
}

.card_info_text{
	color: #6e0300 !important;
}

.rounded-input {
    padding:15px;
    border-radius:20px;
}

.campos_form{
    background: #F8F8F8;
    padding: 5px;
}

.comentario_texto{
    background-color: white;
}

.comentarioCabecera{
	background-color: #6e0300 !important;
	color:#e7e5df !important;
}

.cabecera_secundaria{
	background-color: #d3d0cb !important;
    color: #393e41;
    font-weight: bold;
	border-bottom: solid 5px;
	border-bottom-color: #393e41;
}

.cabecera_celda{
	color:#e7e5df !important;
	background-color: #6e0300 !important;
}

.cabecera_tabla_mensaje{
	background-color: #d3d0cb !important;
	color: #6e0300 !important;
	padding:2px;
}

#tablaVerMensajes tbody tr{
	border: solid 1px #6e0300 !important;
	background-color: white;
}

.container_perfil{
    background-color:#33ffac;
}

#perfilVisitado{
	background-color:white !important;

}

.nombre_perfil{
	color: #6e0300;
	background-color: white;
}

footer{
    background-color:  #6e0300;
    color: #e7e5df;
}

.fa-thumbs-up{
    color:green;
}

.fa-thumbs-down{
    color:red;
}

.fa-minus-circle,.fa-trash-alt{
    color:red;
}

.fa-edit{
    color:orange;
}

.swal2-modal {
    background-color:  #e7e5df !important;
    box-shadow: 20px 25px 5px 0px rgba(0,0,0,0.6) !important;  
}

.general_btn{
    background-color:  #393e41 !important;
    color:#e7e5df !important;
}

.correo_btn{
   color:#e7e5df !important;
	background-color: #6e0300 !important;
}

.btn_desconectar{
    color:red !important;
    background-color: #e7e5df !important;
}


.clickable_row:hover{
    background-color: #393e41 !important;
    color:#e7e5df !important;
    cursor:pointer;
}

span.input-group-text{
    background-color: #393e41 !important;
}
.perfil_info{
    background-color: white !important;
}

ul.perfil_info li{
    background-color: #393e41 !important;
    color: white;
}

img.avatar{

    border-color:  #393e41;
    border-width: 10px;
    border-style: outset;

}

.edit_form{
    color: #393e41;
}

.card-body{
    background-color: #d3d0cb !important;
}



progress[value] {

    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;
    height: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {

    background-image:
        -webkit-linear-gradient(top, 
        rgba(255, 255, 255, .25), 
        rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, rgba(110,3,0,1) 35%, #f44);


    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-moz-progress-bar { 

    background-image:
        -moz-linear-gradient(
        top, 
        rgba(255, 255, 255, 0.25), 
        rgba(0, 0, 0, 0.25)
        ),
        -moz-linear-gradient(
        left, 
        rgba(110,3,0,1) 35%, 
        #f44
        );

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%; 
}

.visible{
	display: block;
}

.oculto{
	display: none;
}

a[role=button]#vermas,
a[role=button]#vermenos{
	color:  #6e0300 !important;
}

.aviso{
	 position: relative;
     display: inline-block;
}
.aviso .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
